
html {
  height: 100%;
}
/* Basic Styles */
body {
  margin: 0;
  /*background: linear-gradient(135deg, #00FCDD, #010101);*/
  /*background: linear-gradient(to right, #E3963E, #6D8AD5);*/
  background: #efc493;
  backdrop-filter: blur(10px);
  height: 100vh;
  overflow: auto;
}

/* Header Styles */
.header {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 40px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social-icons a img {
  width: 40px;
  border-radius: 5px;
}

/* Burger Menu */
.burger {
  cursor: pointer;
  font-size: 32px;
  color: white;
}

.close-btn {
  font-size: 24px;
  cursor: pointer;
  text-align: right;
  margin-bottom: 20px;
}

/* Content for demonstration */
.content {
  padding: 20px;
  color: white;
  height: auto;
}

.content img {
  width: 400px;
}

.logo {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 25px;
}

button {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 17px 17px 17px 17px;
  box-shadow: 3px 4px 0px 0px #000000;
  padding: 15px 10px;
  background: #E3963E;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-family: 'Lilita One', cursive;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #cd883a;
}

footer div {
  background: black;
  height: 2px;
  margin: 0 50px;
}

footer p {
  text-align: center;
  font-family: 'Lilita One', cursive;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .content img {
    width: 325px;
  }

  .content {
    height: auto;
  }

  iframe {
    width: auto !important;
  }

  .version {
    font-size: 14px;
  }

  .frame {
    height: 600px !important;
  }

  iframe {
    height: 600px !important;
  }
}

.bone {
  position: absolute;
  top: -50px;
  font-size: 24px;
  animation: fall linear infinite;
  opacity: 0.8;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.blocked-btn {
  background: #9e9898;
  cursor: no-drop;
}

.blocked-btn:hover {
  background: #7b7979;
}

iframe {
  width: 50%;
  height: 800px;
  border: none;
  border-radius: 10px;
}

.frame {
  text-align: center;
  height: 800px;
  margin: 10px 0 70px 0;
  font-family: 'Lilita One', cursive;
}

.frame h2 {
  font-size: 32px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.frame h2:after {
  content: " 👀";
}

.version {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  opacity: 0.7;
  font-family: 'Lilita One', cursive;
}

.tokenomics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tokenomics h2 {
  font-size: 65px;
  font-family: 'Lilita One', cursive;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  margin: 25px 0 -20px 0;
}